html, body {
    background-color: #272b30;
}

.navbar-brand {
    font-size: 30px;
}

.bookstore-books {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    justify-content: left;
}

.card {
    background-color: #e9ecef;
    height:200px;
    width:250px;
    /*margin-bottom:10px;*/
    margin: 20px;
}

.card-body{
    padding:0.25rem;
}

.isbn {
    color: darkgray;
    font-size: 10px;
}

.add-to-cart-btn{
    float:right;
    background-color:#f2c95c;
    border-color:#a88734;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.valid-button {
    background-color:#f2c95c;
    border-color:#a88734;
}

.disabled-button {
    background-color: #c4c4c4;
    border-color : #C3C3C3;
    pointer-events: none;
}

.bookstore-header{
    padding-bottom:20px;
}

.bookstore-filter{
    padding-top:30px;
    padding-bottom:25px;
    width: 100%;
    display:flex;
}

.bookstore-filter-search{
    width:300px;
    margin-right:20px
}

.bookstore-filter-dropdown{
    padding-left:20px;
}

.bookstore-content{
    padding:10px;
}
.bookstore-cart-icon{
    color:white;
    font-size: 30px;
}
.bookstore-cart-dropdown{
    visibility: hidden;float:right;
}

ul.dropdown-cart{
    min-width:350px;
    z-index: 10;
    position: relative;
}

ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
    z-index: 10;
    position: relative;
}

ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}

ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
}

ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}

ul.dropdown-cart li .item-right{
    float:right;
}

ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

.checkout-dropdown-toggle:after {
    content: none
}

.navbar .dropdown-menu {
    background-color: #F0F0F0;
    position: absolute;
    right: 0;
    left: auto;
    z-index: 10;
    padding-bottom: 50%;
}

.checkout-btn {
    height: 40px;
    width: 100px;
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 50%;
}

.btn {
    color: white;
}

.empty-cart {
    text-align: center;
    padding-top: 5%;
}

.item-info-title {
    font-size: 14px;
}

.item-info-author {
    font-size: 12px;
}

.item-info-cost {
    color: #b7312d;
}

.item-info-isbn {
    color: darkgray;
    font-size: 9px;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}

.filter-dropdown-sort {
    margin-left: auto;
}

.dropdown-menu-sort {
    text-align: center;
    line-height: 28px;
}

.row > div[class*='col-'] {
    display: flex;
    flex:1 0 auto;
    padding:15px;
}

.genre {
    font-style: italic;
    font-size: 13px;
}

.books-message {
    width: 100%;
}

.no-books-found-message {
    padding-top: 10%;
    text-align: center;
    color: lightgray;
}

.bookstore-logo-icon {
    font-size: 25px;
}

